<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereço</title>
    <link rel="stylesheet" href="../css/navBarStyle.css">
    <link rel="stylesheet" href="../css/comunStyle.css">
    <link rel="stylesheet" href="../css/formularioStyle.css">
</head>

<body>
    <div class="container">

        <div class="card-form">

            <div class="row card-titulo">
                <div class="icone-titulo">📍</div>
                <h1>Endereço de entrega</h1>
            </div>

            <p class="description">
                Informe o endereço onde deseja receber seu pedido.
            </p>

            <form id="formEndereco" action="" method="get">

                <!-- CEP -->
                <div class="margin-b18">

                    <label for="cep"> CEP <span class="required">*</span> </label>

                    <div class="row">

                        <input type="text" id="cep" name="cep" class="caixa-texto"
                            placeholder="Digite seu CEP (ex: 11347-000)" autocomplete="postal-code">
                        <button type="button" id="buttonCep" class="button-search"> 🔍 Pesquisar </button>

                    </div>

                </div>

                <!-- RUA -->
                <div class="margin-b18">

                    <label for="rua">
                        Rua <span class="required">*</span>
                    </label>

                    <input type="text" id="rua" name="rua" class="caixa-texto" placeholder="Digite o nome da rua"
                        autocomplete="street-address">

                </div>

                <!-- NÚMERO / COMPLEMENTO -->
                <div class="duas-colunas">

                    <div class="margin-b18">

                        <label for="numero">
                            Número <span class="required">*</span>
                        </label>

                        <input type="text" id="numero" name="numero" class="caixa-texto"
                            placeholder="Número da casa/ap">

                    </div>


                    <div class="margin-b18">

                        <label for="complemento">
                            Complemento
                        </label>

                        <input type="text" id="complemento" name="complemento" class="caixa-texto"
                            placeholder="Apto, bloco, casa, ponto de etc.">

                    </div>

                </div>


                <div class="margin-b18">

                    <label for="numero-rua">
                        Número da Rua <span class="required">*</span>
                    </label>

                    <input type="text" id="numero-rua" name="numero-rua" class="caixa-texto" placeholder="Ex: Rua 1">

                </div>

                <div class="margin-b18">

                    <label for="referencia"> Ponto de referência </label>

                    <textarea name="referencia" id="referencia" rows="4" class="caixa-texto-area"
                        placeholder="Ex: casa verde"></textarea>
                </div>


                <!-- BAIRRO / CIDADE -->
                <div class="duas-colunas">

                    <div class="margin-b18">

                        <label for="bairro">
                            Bairro <span class="required">*</span>
                        </label>

                        <input type="text" id="bairro" name="bairro" class="caixa-texto" placeholder="Digite o bairro">

                    </div>


                    <div class="margin-b18">

                        <label for="cidade">
                            Cidade <span class="required">*</span>
                        </label>

                        <input type="text" id="cidade" name="cidade" class="caixa-texto" placeholder="Digite a cidade">

                    </div>

                </div>

                <!-- AÇÕES -->
                <div class="actions">
                    <button type="button" class="back-button" id="btnVoltar" data-url="carrinho.html">
                        ← Voltar
                    </button>

                    <button type="button" class="continue-button" id="btnContinuar" data-url="celular.html">
                        Continuar →
                    </button>

                </div>

            </form>
        </div>


        <div class="barra-inferior">
            <button class="botao-navegacao" type="button" id="btnHome" data-url="../index.html">
                <img src="../img/icons/home.svg" alt="" srcset="" class="icons">
            </button>

            <button class="botao-navegacao" type="button" id="btnCarrinho" data-url="carrinho.html">
                <img src="../img/icons/shopping-cart.svg" alt="" srcset="" class="icons">
            </button>

            <button class="botao-navegacao" type="button" id="btnPin" data-url="endereco.html">
                <img src="../img/icons/map-pin.svg" alt="" srcset="" class="icons">
            </button>

            <button class="botao-navegacao" type="button" id="btnPhone" data-url="celular.html">
                <img src="../img/icons/cellphone.svg" alt="" srcset="" class="icons">
            </button>

            <button class="botao-navegacao" type="button" id="btnPayment" data-url="pagamento.html">
                <img src="../img/icons/payment-methodsvg.svg" alt="" srcset="" class="icons">
            </button>
        </div>
    </div>

    <script src="../js/navBarScript.js"></script>
    <script src="../js/enderecoScript.js"></script>
</body>

</html>