<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/comunStyle.css">
    <link rel="stylesheet" href="../css/formularioStyle.css">
    <title>Revisão</title>
</head>

<body>
    <h1>Revise seu pedido</h1>

    <!-- AÇÕES -->
    <div class="actions">
        <button type="button" class="back-button" id="btnVoltar" data-url="carrinho.html">
            ← Voltar
        </button>   
    </div>

    <script src="../js/botoesVoltarScript.js"></script>
</body>

</html>